<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" id="save-button" data-toggle="dropdown" aria-expanded="false" title='<%= t('button.title.save') %>'>
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> <%= t('button.save') %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu upload-save" role="menu">
    <li>
    	<a href="" id="save-locale" title='<%= t('button.title.save_locale') %>'><%= t('button.locale') %></a>​
   	</li><li>
   		<a href="" id="save-draft" title='<%= t('button.title.save_draft') %>'><%= t('button.draft') %></a>​
  	</li>
  </ul>
</div>
