<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title='<%= t('button.title.upload') %>'>
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <%= t('button.upload') %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu upload-save" role="menu">
    <li>
    	<a href="" id="upload-locale" title='<%= t('button.title.upload_locale') %>'><%= t('button.locale') %></a>​
   </li><li>
   		<a href="" id="upload-draft" title='<%= t('button.title.upload_draft') %>'><%= t('button.draft') %></a>​
   </li>
  </ul>
</div>